.SubredditList {
  padding: 20px;
}

.SubredditList h2 {
  text-align: center;
}

.SubredditList button {
  display: block;
  margin: 0 auto;
  background-color: lightgreen;
  border-radius: 28px;
  padding: 10px, 20px;
}

.SubredditList a {
  text-decoration: none !important;
  font-family: Arial;
  font-size: 14px;
}

.SubredditList button:hover {
  background-color: #b8eff9;
}

.SubredditList ul {
  list-style: none;
  padding-left: 0;
  width: 850px;
  margin: auto;
  border: 1px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: pointer;
}

.SubredditList li {
  text-align: left;
  border-bottom: 1px solid black;
}

.SubredditList li > div {
  padding-left: 20px;
}

.SubredditList li h3 {
  padding-top: 10px;
  margin: 0;
}

.SubredditList li p {
  padding: 10px 0;
  margin: 0;
}
